.search__body {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #1d2834;
	z-index: 4;
	transition: all 0.9s ease 0s;
	transform: translate(-150%, 0);
	@media (max-width: 929px) {
		padding: 30px;
	}
	@media (max-height: 415px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.search__body._active_body {
	transform: translate(0, 0);
}
.search__tile {
	font-size: 50px;
	letter-spacing: 15px;
	line-height: 70px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 800;
	font-family: "Butler";
	max-width: 630px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	@media (max-height: 579px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@media (max-height: 475px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@media (max-height: 415px) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.search__area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& input {
		background-color: #1d2834;
		height: 60px;
		width: 905px;
		border-bottom: 2px solid #898989;
		font-size: 30px;
		line-height: 38px;
		color: #b7b7b7;
		font-weight: 800;
		font-family: "Butler";
		margin-right: -10px;
		padding-right: 23px;
	}
	& input::placeholder {
		font-size: 30px;
		line-height: 38px;
		color: #b7b7b7;
		font-weight: 800;
		font-family: "Butler";
	}
	& button {
		min-width: 130px;
		height: 40px;
		background-color: #ffffff;
		font-size: 12px;
		text-transform: uppercase;
		color: #000000;
		font-weight: 600;
		font-family: "Montserrat";
		position: relative;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 48.4px;
			left: 0;
			width: 100%;
			height: 4.59%;
			background-color: #898989;
			cursor: none;
		}
	}
}
.search__keywords {
	font-size: 14px;
	color: #898989;
	font-weight: 400;
	font-family: "Montserrat";
	padding-top: 100px;
	@media (max-height: 579px) {
		padding-top: 70px;
	}
	@media (max-height: 475px) {
		padding-top: 50px;
	}
	@media (max-height: 415px) {
		padding-top: 25px;
	}
	& button {
		font-size: 14px;
		color: #b7b7b7;
		font-weight: 400;
		font-family: "Roboto";
		text-align: center;
		width: 88px;
		height: 30px;
		background-color: #444c56;
	}
}
